<div class="main">
    <div class="main-left">
    </div>

    <div class="main-right">
        <div class="admin-info">
            <span class="material-symbols-outlined">Notifications</span>
            <span class="admin-name">Admin</span>
            <img src="assets/Logo_avatar.jpg" class="admin-ava">
        </div>

        <div class="page-title">
            <div>
                <strong>Product categories</strong>
                <button id="add" (click)="addCatLevel1()" class="add-button">Add categories</button>
            </div>
            <div class="page-search">
                <input type="search" id="search" placeholder="Search...">
                <span class="material-symbols-outlined">search</span>
            </div>
        </div>

        <div class="page-body">
            <div class="category_list">
                <table class="category_list__table">
                    <thead class="table_title">
                        <th>No.</th>
                        <th>Category's name</th>
                        <th>Description</th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody class="table_content">
                        <tr class="table_data" *ngFor="let category of categories; let i = index">
                            <td class="stt-column">{{ i + 1 }}</td>
                            <td> {{category.Name}}</td>
                            <td> {{category.Description}} </td>
                            <td class="pro_action">
                                <button id="visual" (click)='editCatLevel1(category)'>
                                    <span class="material-icons-outlined">edit</span>
                                </button>
                                <button id="delete" (click)="deleteCategory(category._id)"><span
                                        class="material-icons-outlined">delete</span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>