h2 {
    font-weight: bold;
    color: #333;
}

.order-info label,
.order-summary label {
    font-weight: bold;
}

.order-summary h4 {
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

.order-summary .form-check-label {
    font-weight: 500;
}

textarea {
    resize: none;
    height: 100px;
}

button.btn-primary {
    background-color: #810000;
    border: none;
}

button.btn-primary:hover {
    background-color: #610000;
}

.order-summary img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
    background-color: #f8f9fa;
}

.label-hint {
  display: inline-block;
  font-size: 0.9rem;
  color: #b03a2e;
  font-weight: 600;
  margin-left: 6px;
}

@media (max-width: 576px) {
    .order-summary img {
        width: 50px;
        height: 50px;
    }
}