<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,500,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<!-- Cố định admin page-->
<a hrel="./navigate_bar"></a>
<div class="main">
    <div class="main-left">
        <a href=".navigate-bar"></a>
    </div>
    <!--  -->

    <div class="main-right">
        <!-- Cố định admin page -->
        <div class="admin-info">
            <span class="material-symbols-outlined">notifications</span>
            <span class="admin-name">Admin</span>
            <img src="assets/Logo_avatar.jpg" class="admin-ava">
        </div>
        <div class="page-title">
            <p>Order Details</p>
            <div class="page-search">
                <input type="search" id="search" placeholder="Search..." />
                <span class="material-symbols-outlined">search</span>
            </div>
        </div>
            <div class="page-body">
                <div class="page-body-header">
                    <div class="order_info">
                        <div class="order_info--detail">
                            <p class="title">ID</p>
                            <p class="data" id="ord_id">{{order.OrderID}}</p>
                        </div>
                        <hr>
                        <div class="order_info--detail">
                            <p class="title">Order Date</p>
                            <p class="data">{{order.OrderDate}}</p>
                        </div>
                        <hr>
                        <div class="order_info--detail">
                            <p class="title">Payment Method</p>
                            <p class="data">{{order.PaymentMethod}}</p>
                        </div>
                    </div>
                </div>
                <div class="page-body-content">
                    <div class="page-body-table">
                        <table class="order_table" >
                            <thead class="table_title">
                                <th>No.</th>
                                <th>Image</th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Total Amount</th>
                            </thead>
                            <tbody class="table_content">
                                <tr class="table_data" *ngFor="let prod of order.OrderProduct; index as i">
                                    <td>{{i+1}}</td>
                                    <td class="image"><img src="{{prod.Image}}"></td>
                                    <td>{{prod.Name}}</td>
                                    <td>{{prod.quantity}}</td>
                                    <td>{{prod.Price}}đ</td>
                                    <td>{{findSum(prod)}}đ</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-end">Subtotal</td>
                                    <td>
                                        {{order.PrePrice.toLocaleString("vi-VN", {minimumFractionDigits: 0})}}USD
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-end">Shipping Fee</td>
                                    <td>
                                        {{order.DeliveryFee.toLocaleString("vi-VN", {minimumFractionDigits: 0})}}USD
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-end">Discount</td>
                                    <td>
                                        {{order.DiscountPrice.toLocaleString("vi-VN", {minimumFractionDigits: 0})}}USD
                                    </td>
                                </tr>
                                <tr class="table_data table-lg">
                                    <td colspan="5" class="total text-end" style="font-weight: bold; color: #8AA3A0; font-size:15pt">Total</td>
                                    <td style="font-weight: bold; color: #8AA3A0; font-size:15pt">
                                        {{order.TotalPrice.toLocaleString("vi-VN", {minimumFractionDigits: 0})}}USD
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="order_action">
                            <span>
                                <button id="approve" (click)="completeOrder()">
                                    Delivered
                                </button>
                            </span>
                            <span>
                                <button id="deli" (click)="deliveryOrder()">
                                    In transit
                                </button>
                            </span>
                            <span>
                                <button id="cancel" (click)="cancelOrder()">
                                    Cancel 
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="page-body-detail">
                        <div class="order-info">
                            <div>
                                <p class="order-info-title">Buyer Information</p>
                                <p>Customer Name: {{order.CustomerName}}</p>
                                <p>Ordered: 1 Order</p>
                            </div>
                            <hr>
                            <div class="deli-info">
                                <p class="order-info-title">Shipping Information</p>
                                <p>Phone: {{order.Phone}}</p>
                                <p>Address: {{order.Address}} </p>
                            </div>
                            <hr>
                            <div class="note-info">
                                <p class="order-info-title">Order's note</p>
                                <p id="note">There is no note</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

