<div class="container-fluid p-0">
  <app-banner appScrollReveal="reveal-fade-up"></app-banner>
  <app-product-list appScrollReveal="reveal-fade-up"></app-product-list>
  <app-banner-2 appScrollReveal="reveal-fade-up"></app-banner-2>
  <app-product-section-2 appScrollReveal="reveal-fade-up"></app-product-section-2>ng
  <app-banner-3 appScrollReveal="reveal-fade-up"></app-banner-3>
  <app-product-section-3 appScrollReveal="reveal-fade-up"></app-product-section-3>
  <app-vietnam-map appScrollReveal="reveal-fade-up"></app-vietnam-map>
  <div class="banner-event-container" appScrollReveal="reveal-zoom-in" (click)="goToDiscountProducts()">
    <img src="assets/banner_event.png" alt="Event Banner" class="banner-event-image">
  </div>
  <app-about-us appScrollReveal="reveal-fade-up"></app-about-us>
  <app-event appScrollReveal="reveal-fade-up"></app-event>
  <app-product-event appScrollReveal="reveal-fade-up"></app-product-event>
  <app-cta appScrollReveal="reveal-fade-up"></app-cta>
</div>

<button class="scroll-to-top" (click)="scrollToTop()" *ngIf="showScrollButton">
  ↑
</button>