@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif; 
}
.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    background: #F6F8FB;
}
.main-left{
    width: 15%;
}
/* -----Cố định--------- */
.main-right{
    width: 85%;
    height: 100vh;
    display: flex;
    padding: 0 38px;
    flex-direction: column;
}
.admin-info{
    display: flex;
    background: #F6F8FB;
    padding: 24px 10px;
    justify-content: flex-end;
}   
.admin-ava{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.admin-info .material-symbols-outlined {
    cursor: pointer;
}
.material-symbols-outlined{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}
.admin-name{
    width: fit-content;
    height: fit-content;
    margin: 0 10px;
    text-align: center;
}
.page-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}
.page-title strong{
    font-weight: bold;
    font-size: 35px !important;
    color: #8AA3A0;
}
.page-search{
    border-radius: 25px;
    border: 1px solid #8AA3A0;
    padding: 0px 10px;
    display: flex;  
    flex-direction: row;
}
#search{
    font-size: 13px;
    border: none;
}
.page-search .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;
  color: #8AA3A0;
}
/* --------------------------- */

.product_list{
    padding: 10px 10px;
    height:fit-content;
    display: block;
}
.product_list__table{
    width: 100%;
    text-align: center;
    border-spacing: 0px;
    border-collapse: collapse;
    table-layout: auto;
}
.table_content{
    max-height: 200px !important; /* chiều cao tối đa của phần nội dung */
    overflow-y: auto; /* thêm thanh cuộn nếu phần nội dung vượt quá max-height */
    table-layout: fixed;
}
.table_data:hover{
    background: #e6f3f1;;
}
.table_title th{
    border-bottom: 1px solid #ddd;
    height: 43px;
    text-align: center;
    background-color: #8AA3A0;
}
.table_data td{
    border-bottom: 1px solid #ddd;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px;
}
.table_content tr:nth-child(even){
    background-color: #d5e8e5
}
.table_content tr:nth-child(even):hover{
    background-color: #e6f3f1
}
.pro_image img{
    height: 40px;
    align-items: center;
    background-color: transparent;
    border: 1px solid #B5B5B5;
}
#add{
    border: none;
    border-radius:5px;
    margin-left: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #8AA3A0;
    color: white;
}
#visual{
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #8AA3A0;
}
#delete{
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #ff6347;
}
