<div class="main-container">
    <div class="flex-column-dad">
        <span class="donec-mug">Elegant Artisan Mug</span>
        <span class="price">$ 30</span>
        <div class="crush-stone-mug"></div>
        <p class="product-description">
            Crafted with care, this mug combines timeless design with modern elegance. Perfect for your morning coffee or evening tea, it's designed to make every sip a luxurious experience.
        </p>
    </div>
    <div class="flex-column-db">
        <span class="let-make-you">Make It Uniquely Yours!</span>
        <div class="line"></div>
        <span class="choose-customise">Tap ‘Customize’ to add your personal touch.</span>
        <button class="button-customize" (click)="goToCustomizing()">
            <span class="customize">Customize</span>
        </button>
        <button class="add-to-cart" (click)="addToCart(product)">
            <span class="add-to-cart-1">Add to cart</span>
        </button>
        <p class="custom-made">
            Note: This item is custom-made just for you and cannot be returned.
        </p>
        <span class="sustainability-message">
            🌿 Crafted with sustainable materials, each piece is designed to bring you closer to nature and enhance your daily rituals.
        </span>
    </div>
</div>
