<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="main-container">
    <div class="flex-row-fb">
      <span class="content">Crafting Pottery Excellence</span>
      <div class="pottery-studio-spaces"></div>
      <span class="content-1"
        >Established in 2000, ClayCo has grown into a leading ceramics brand in
        Vietnam, expanding internationally in 2016. Renowned for its beautifully
        crafted pottery, ceramics, and plant accessories, ClayCo emphasizes
        artistry, aesthetics, and spiritual significance, continuously enhancing
        product quality over two decades.</span
      >
    </div>
    <div class="flex-row-ba">
      <div class="product"></div>
      <span class="versatile-selections"
        >Versatile Selections for Every Need</span
      ><span class="diverse-selection"
        >ClayCo offers a diverse selection of products, from artisanal pottery
        and stylish ceramics to curated plant accessories. Whether you're
        enhancing your home, sprucing up your garden, or seeking the perfect
        gift, ClayCo’s collections cater to a variety of needs, providing
        elegant, meaningful pieces that elevate any space or moment.</span
      >
    </div>
    <div class="rectangle">
      <span class="why-choose-clayco">Why Choose ClayCo?</span>
      <span class="handcrafted-pottery"
        >At ClayCo, we craft pottery and ceramics that blend artistry with unique designs for every space and occasion. Committed to sustainability, we use eco-friendly practices and offer personalized service to help you find the perfect piece. Each item reflects our passion for art, bringing elegance and character to any setting.</span>
    </div>
    <div class="flex-row-cb">
        <p class="tab" 
           [ngClass]="{'active': activeTab === 'vision'}"
           (click)="toggleTab('vision')" 
           style="font-size: 42px; font-weight: bold; cursor: pointer;color:black">
          Vision
        </p>
        <p class="tab" 
           [ngClass]="{'active': activeTab === 'mission'}" 
           (click)="toggleTab('mission')" 
           style="font-size: 42px; font-weight: bold; cursor: pointer;color:black">
          Mission
        </p>
      </div>
      
      <div class="flex-row-df">
        <span *ngIf="activeTab === 'vision'" class="global-leader-ceramics">
          To be a global leader in handcrafted ceramics, known for innovative,
          sustainable designs that enhance homes and spaces. We aim to inspire a
          deep connection between art, nature, and everyday life, fostering
          lasting appreciation for ceramic craftsmanship worldwide.
        </span>
        <span *ngIf="activeTab === 'mission'" class="high-quality-pottery">
          At ClayCo, we are dedicated to crafting high-quality, eco-friendly
          pottery and ceramics that blend tradition with modern design. Our
          mission is to enrich homes and spaces with unique, sustainable products,
          while delivering exceptional customer service and promoting a deep
          appreciation for artisanal craftsmanship.
        </span>
      </div>
      
      
    <span class="transform-space"
      >Transform your space with ClayCo’s handcrafted ceramics today!</span>
    <div class="button-go-customize">
      <span class="start-shopping" (click)="browseProduct()">Start shopping&nbsp; &nbsp;<i class="fas fa-arrow-right"></i></span>
    </div>
    <div class="flex-row-f">
        <a href="https://www.google.com/maps/place/633+Nguyễn+Đình+Chiểu,+P.2,+Q.3,+HCM" target="_blank" class="map">
        </a>
        <span class="get-in-touch" style="font-size: 62px; font-weight: bold; cursor: pointer; color: black; line-height: 1.6; display: inline-block;">Get in Touch</span>
        <span class="listen-assist-reach" style="color: black; line-height: 1.6; display: inline-block;">"We’re here for you. Contact us now for immediate support!"</span>
        <span class="address">
          <a href="https://www.google.com/maps/search/?api=1&query=633+Nguyen+Dinh+Chieu,+P.2,+Q.3,+HCM" target="_blank" style="text-decoration: none; color: inherit;">
            <i class="fas fa-map-marker-alt"></i> &nbsp; &nbsp;633 Nguyen Đinh Chieu, P.2, Q.3. HCM
          </a>
        </span>
        <span class="phone">
          <a href="tel:19001052" style="text-decoration: none; color: inherit;">
              <i class="fas fa-phone-alt"></i>&nbsp; &nbsp; 1900 1052      
          </a>
        </span>
        <span class="email">
          <a href="mailto:claycovn@gmail.com" style="text-decoration: none; color: inherit;">
              <i class="fas fa-envelope"></i>&nbsp; &nbsp; claycovn&#64;gmail.com
          </a>
      </span>
      
      </div>
  </div>