<!-- Loading indicator -->
<app-loading></app-loading>

<ng-container *ngIf="!isAdminRoute">
  <div class="scrolling-banner">
    <div class="scrolling-text">
      Chào mừng bạn đến với ĐẶC SẢN 3 MIỀN – Nơi hội tụ hương vị truyền thống từ Bắc – Trung – Nam
    </div>
    <div class="scrolling-text-2">
      Chúc quý khách có thời gian mua sắm vui vẻ tại website ạ
    </div>
  </div>
  <app-header></app-header>
  <app-musicplayer></app-musicplayer>
</ng-container>

<div [ngClass]="{'content-with-padding': !isAdminRoute}">
  <router-outlet></router-outlet>
</div>

<ng-container *ngIf="!isAdminRoute">
  <app-support></app-support>
  <app-chat></app-chat>
  <app-footer></app-footer>
</ng-container>

<!-- Thêm decor trái cây -->
<app-fruit-decor></app-fruit-decor>