<div class="container-fluid banner position-relative p-0">
  <div class="video-container">
    <video 
      #video1 
      class="video active" 
      muted 
      preload="auto" 
      autoplay 
      playsinline
      webkit-playsinline>
      <source src="assets/banner-video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <video 
      #video2 
      class="video" 
      muted 
      preload="none"
      playsinline
      webkit-playsinline>
      <source src="assets/video-banner.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="progress-container">
    <div class="progress-bar" 
         [class.active]="currentVideoIndex === 0"
         [style.--progress-width.%]="progress[0]"
         (click)="handleClick(0)">
    </div>
    <div class="progress-bar" 
         [class.active]="currentVideoIndex === 1"
         [style.--progress-width.%]="progress[1]"
         (click)="handleClick(1)">
    </div>
  </div>
</div>

