<section class="my-5">
  <div class="d-flex justify-content-center">
    <img src="/assets/BannerSlogan_about.png" alt="Đặc sản ba miền - Tinh hoa Việt Nam" class="slogan-image img-fluid">
  </div>
  <div class="container mt-2 p-5 bg-light text-dark rounded shadow slogan-text-box">
    <p class="text-center mb-0">
      Slogan <strong class="slogan-highlight">"Đặc sản 3 miền - Tinh hoa Việt Nam"</strong> của Đặc Sản 3 Miền thể
      hiện rõ sứ mệnh và giá trị cốt lõi mà thương hiệu mang lại. "Đặc sản ba miền" không chỉ nói đến sự đa dạng 
      phong phú của ẩm thực từ Bắc - Trung - Nam, mà còn nhấn mạnh vai trò kết nối văn hóa ẩm thực các vùng miền. 
      "Tinh hoa Việt Nam" phản ánh chất lượng và giá trị truyền thống mà Đặc Sản 3 Miền mang đến cho mỗi khách hàng, 
      biến mỗi sản phẩm không chỉ là món ăn mà còn là câu chuyện văn hóa đầy ý nghĩa.
    </p>
  </div>
</section>