 bổbổ.slogan-image {
  max-width: 80%;
  height: auto;
}

.slogan-text-box {
  font-size: 1.5rem;
  max-width: 800px;
  margin: 0 auto;
}

.slogan-highlight {
  color: #630000;
}

@media (max-width: 768px) {
  .slogan-text-box {
    font-size: 1.2rem !important;
    padding: 1.2rem !important;
  }
}

@media (max-width: 576px) {
  .slogan-text-box {
    font-size: 1rem !important;
    padding: 0.8rem !important;
  }
}