<div class="imgbg"><img src="assets/images/BG.png"></div>
<div class="content">
  <div class="imggt"><a href="app-home"><img src="assets/images/GT.png"></a></div>
  <form class="signup_form">
    <h2 class="header">REGISTRATION COMPLETE</h2>

    <div class="bold">
      <p>You have successfully created an account</p>
      <p>Let’s explore hundreds of new ceramic products together with ClayCo!!!</p>
    </div>

    <div>
      <button class="login_button" (click)="redirectToHome()">BACK TO HOME</button>
    </div>
  </form>
</div>