<div class="container about py-2">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="assets/about.png" class="img-fluid rounded" alt="About Us Image" appScrollReveal="reveal-slide-rotate-left" />
        </div>
        <div class="col-md-6">
            <div class="text-content">
                <h2 class="fw-bold mb-4" appScrollReveal="reveal-fade-right">Về Chúng Tôi</h2>
                <p class="justified-text" appScrollReveal="reveal-fade-up" style="transition-delay: 0.1s;">
                    <strong>ĐẶC SẢN 3 MIỀN</strong> là thương hiệu 
                    <span class="text-blue">chuyên cung cấp đặc sản</span> ra đời với sứ mệnh mang đến cho bạn 
                    sự trọn vẹn <span class="text-blue">hương vị và bản sắc</span> từ Bắc – Trung – Nam. 
                    Tại ĐẶC SẢN 3 MIỀN, chúng tôi không chỉ mang đến những sản phẩm 
                    <span class="text-blue">chất lượng, an toàn và tinh túy</span>, 
                    mà còn gửi gắm trong đó tình quê, ký ức và văn hóa của mỗi vùng miền. 
                    Với cam kết <span class="text-blue">uy tín và chất lượng</span>, 
                    chúng tôi tin rằng đặc sản Việt Nam xứng đáng được 
                    <span class="text-blue">lan tỏa và tỏa sáng</span> trong từng bữa ăn hàng ngày.
                    
                </p>
            </div>
        </div>
    </div>
</div>