<div class="product-desc-container">
    <div class="tabs">
        <button (click)="selectTab('description')" [class.active]="selectedTab === 'description'">
            Mô tả
        </button>
        <button (click)="selectTab('reviews')" [class.active]="selectedTab === 'reviews'">
            Đánh giá
        </button>
    </div>

    <div *ngIf="selectedTab === 'description'" class="tab-content">
        <ul class="product-details">
            <li><strong>Tên sản phẩm:</strong> {{ product.product_name || 'QUEENTIN' }}</li>
            <li><strong>Loại sản phẩm:</strong> Đặc sản 3 miền Việt Nam </li>
            <li><strong>Thành phần:</strong> 100% nguyên liệu tự nhiên, chọn lọc kỹ lưỡng, không chất bảo quản </li>
            <li><strong>Khối lượng tịnh:</strong> 500g</li>
            <li><strong>Xuất xứ:</strong>  {{ product.product_dept|| 'QUEENTIN' }}</li>
            <li><strong>Bảo quản:</strong> Nơi khô ráo, thoáng mát, tránh ánh nắng trực tiếp</li>
            <li><strong>Hạn sử dụng:</strong> 6 tháng kể từ ngày sản xuất</li>
            <li><strong>Chứng nhận:</strong> Đạt tiêu chuẩn vệ sinh an toàn thực phẩm VietGAP</li>
        </ul>

        <div class="product-description">
            <h4>Mô tả sản phẩm:</h4>
            <p>{{ product.product_detail || 'Thiết kế gọng vuông với độ cao mặt kính cùng phần bản lề tinh xảo đem đến
                một diện mạo hiện đại và sang trọng.' }}</p>
        </div>
    </div>

    <div *ngIf="selectedTab === 'reviews'" class="tab-content">
        <div *ngFor="let review of pagedReviews" class="review-card">
            <strong class="review-user">{{ review.user }}:</strong>
            <span class="review-time">{{ review.timestamp }}</span>
            <p class="review-comment">{{ review.comment }}</p>
        </div>

        <div *ngIf="isLoggedIn; else loginPrompt" class="add-review">
            <textarea [(ngModel)]="newComment" placeholder="Viết đánh giá của bạn"></textarea>
            <button (click)="addReview()" class="btn btn-primary submit-review-button">Thêm đánh giá</button>
        </div>

        <ng-template #loginPrompt>
            <p>Vui lòng đăng nhập để thêm đánh giá.</p>
        </ng-template>

        <div class="pagination">
            <button *ngFor="let page of totalPagesArray" (click)="goToPage(page)" [class.active]="currentPage === page">
                <span>{{ page }}</span>
            </button>
        </div>
    </div>
</div>