<table class="container-fluid py-3">
  <tr>
    <td rowspan="2" class="text-center text-md-start align-top logo-cell">
      <img src="assets/BEST.png" alt="Best" class="img-fluid" style="max-height: 300px;">
    </td>
    <td class="info-cell footer-section">
      <h6 class="fw-bold fst-italic">VỀ CHÚNG TÔI</h6>
      <ul>
        <li><a class="nav-link fw-medium" routerLink="/about">Giới thiệu</a></li>
        <li><a class="nav-link fw-medium" routerLink="/history">Lịch sử hình thành</a></li>
        <li><a class="nav-link fw-medium" routerLink="/contact">Liên hệ</a></li>
      </ul>
    </td>
    <td class="support-cell footer-section">
      <h6 class="fw-bold fst-italic">HỖ TRỢ KHÁCH HÀNG</h6>
      <ul>
        <li><a class="nav-link fw-medium" routerLink="/delivery">Giao hàng</a></li>
        <li><a class="nav-link fw-medium" routerLink="/delivery-methods">Hình thức giao hàng</a></li>
        <li><a class="nav-link fw-medium" routerLink="/how-to-buy">Cách thức mua hàng</a></li>
      </ul>
    </td>
    <td class="policy-cell footer-section">
      <h6 class="fw-bold fst-italic">CHÍNH SÁCH</h6>
      <ul>
        <li><a class="nav-link fw-medium" routerLink="/policy">Chính sách đổi trả</a></li>
        <li><a class="nav-link fw-medium" routerLink="/privacy">Chính sách bảo mật</a></li>
        <li><a class="nav-link fw-medium" routerLink="/term">Điều khoản dịch vụ</a></li>
      </ul>
    </td>
    <td class="auth-buttons text-center text-md-start">
      <button class="btn custom-width-btn signup-btn mb-2" routerLink="/signup" fragment="forms" *ngIf="!isLoggedIn">
        Đăng ký
      </button>
      <button class="btn custom-width-btn login-btn" routerLink="/login" *ngIf="!isLoggedIn">Đăng nhập</button>
    </td>
  </tr>
  <tr>
    <td class="contact-cell">
      <h4 class="fw-bold">LIÊN HỆ VỚI CHÚNG TÔI</h4>
      <p>
        <a href="tel:0792098518">
          <img src="assets/telephone.png" alt="Phone Icon" class="icon">079 2098 518
        </a>
      </p>
      <p>
        <a href="mailto:dacsan3mien@gmail.com">
          <img src="assets/mail.png" alt="Mail Icon" class="icon">dacsan3mienhub&#64;gmail.com
        </a>
      </p>
      <h6 class="fw-bold">MẠNG XÃ HỘI</h6>
      <p>
        <a href="https://www.facebook.com/profile.php?id=61581776263412&locale=vi_VN" target="_blank">
          <img src="assets/facebook.png" alt="Facebook" class="icon">
        </a>
        <a href="https://www.instagram.com/dacsan3mien.vn?igsh=MTliMjZkeWl4cW56aA%3D%3D&utm_source=qr" target="_blank">
          <img src="assets/instagram.png" alt="Instagram" class="icon">
        </a>
      </p>
    </td>
    <td colspan="2" class="feedback-cell">
      <div class="feedback-top text-center text-md-start">
        <h4 class="fw-bold">ĐÓNG GÓP Ý KIẾN</h4>
        <p>Đừng bỏ lỡ hàng ngàn sản phẩm và khuyến mãi cực hấp dẫn.</p>
      </div>
      <form (submit)="onFeedbackSubmit($event)">
        <div class="row feedback-row-2">
          <div class="col-12 col-md-6 mb-2">
            <input type="text" class="form-control" name="fullName" placeholder="Họ và tên" required>
          </div>
          <div class="col-12 col-md-6 mb-2">
            <input type="text" class="form-control" name="phone" placeholder="Số điện thoại" required>
          </div>
        </div>
        <div class="row feedback-row-3">
          <div class="col-12 col-md-8 mb-2">
            <textarea class="form-control" name="message" rows="2" placeholder="Lời nhắn" required></textarea>
          </div>
          <div class="col-12 col-md-4 mb-2">
            <button type="submit" class="btn btn-primary w-100">Gửi</button>
          </div>
        </div>
      </form>
    </td>
  </tr>
</table>