<button class="btn btn-primary d-md-none" (click)="toggleSidebar()">Menu</button>
<div [ngClass]="{ show: isSidebarOpen }" class="sidebar d-flex flex-column p-3 text-white bg-dark">
    <div class="sidebar-logo mb-4">
        <img src="assets/Logo.png" alt="Logo" class="img-fluid" [routerLink]="'/admin/mainpage'">
    </div>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white" [routerLink]="'/admin/mainpage'">
                <i class="fa fa-home me-2"></i> Trang chủ
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/" target="_blank">
                <i class="fa fa-eye me-2"></i> Xem trang web
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white d-flex justify-content-between align-items-center dropdown-toggle" href="#"
                data-bs-toggle="collapse" data-bs-target="#authMenu" aria-expanded="false">
                Xác thực
            </a>
            <ul class="collapse list-unstyled" id="authMenu">
                <li><a class="nav-link text-white ms-3" [routerLink]="'/admin/user-adm'">Tài khoản</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white d-flex justify-content-between align-items-center dropdown-toggle" href="#"
                data-bs-toggle="collapse" data-bs-target="#mainMenu" aria-expanded="false">
                Chức năng
            </a>
            <ul class="collapse list-unstyled" id="mainMenu">
                <li><a class="nav-link text-white ms-3" [routerLink]="'/admin/product-adm'">Sản phẩm</a></li>
                <li><a class="nav-link text-white ms-3" [routerLink]="'/admin/contact-adm'">Liên hệ</a></li>
                <li><a class="nav-link text-white ms-3" [routerLink]="'/admin/order-adm'">Đơn hàng</a></li>
                <li><a class="nav-link text-white ms-3" [routerLink]="'/admin/blog-adm'">Blogs</a></li>
                <li><a class="nav-link text-white ms-3" [routerLink]="'/admin/dashboard'">Biểu đồ</a></li>
            </ul>
        </li>
    </ul>
</div>