@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; 
}

h2 {
  font-weight: 500;
  font: 1000 38px/50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 20px 12px 12px 12px;
}

.danhmucproduct {
  font: 1000 38px/50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  color: #8AA3A0 ;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 5px;
}

@media (max-width: 1300px) {
  .danhmucproduct {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1080px) {
  .danhmucproduct {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .danhmucproduct {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .danhmucproduct {
    grid-template-columns: repeat(1, 1fr);
  }
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -5px;
}

.product button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.product-item {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px 0px;
  width: calc(10%);
  margin: 5px 15px;
  flex-grow: 1;
}

.product-item:hover {
  border: 1px solid #8AA3A0 ;
  cursor: pointer;
}

.product-item--img img {
  width: 250px;
  height: 200px;
  border-radius: 12px;
}

.product-item--info {
  font-size: 14px;
  margin: 6px 0;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-item--price {
  font-weight: bold;
  color: #8AA3A0 ;
  margin: 0 0 8px 0;
}

.product-item--add {
  background-color: #8AA3A0 ;
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  width: 50%;
  height: 30px;
  font-size: 12px;
  transition: opacity 0.3s ease;
}