<div class="login-page">
  <div class="form">
      <img class="logo" src="../../assets/images/Logo_footer.png" alt="Logo" width="40%"/>
      <form class="login-form" (ngSubmit)="onSubmit()">
          <h2>ADMIN LOGIN</h2>
          <input type="text" name="username" placeholder="USERNAME *" [(ngModel)]="username" required />
          <input type="password" name="password" placeholder="PASSWORD *" [(ngModel)]="password" required />
          <button type="submit">LOGIN</button>
          <div class="error-msg" *ngIf="error">{{ error }}</div>
      </form>
  </div>
</div>
