.outer-background {
  background-image: url('/assets/aboutdecor.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  font-family: 'Montserrat', sans-serif;
  color: #1B1717;
}

.signup-container {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(27, 23, 23, 0.1);
  width: 100%;
  max-width: 700px;
  padding: 40px;
  transition: all 0.3s ease;
}

.social-button {
  width: 80%;
  max-width: 350px;
  border: 1px solid #810000;
  background-color: #EEEBDD;
  color: #1B1717;
  border-radius: 25px;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 10px 0;
}

.social-button:hover {
  background-color: #810000;
  color: #EEEBDD;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  color: #1B1717;
  font-size: 14px;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #D6CFC3;
}

.separator::before {
  margin-right: 10px;
}

.separator::after {
  margin-left: 10px;
}


.form-content {
  width: 80%;
  max-width: 450px;
}


small.text-muted {
  font-size: 0.875rem;
  color: #630000;
  margin-top: 0.25rem;
  display: block;
}


.recaptcha-box {
  border: 1px solid #D6CFC3;
  border-radius: 8px;
  padding: 10px;
  background-color: #F7F3EC;
  max-width: 350px;
}


.btn-primary {
  background-color: #810000;
  border: none;
  border-radius: 25px;
  padding: 10px 0;
  font-weight: bold;
  max-width: 200px;
  color: #EEEBDD;
  transition: all 0.3s ease;
}

.container-button {
  display: flex;
  justify-content: center;
}

.btn-primary:hover {
  background-color: #630000;
}


.no-underline {
  text-decoration: none;
  color: #630000;
  transition: color 0.3s ease;
}

.no-underline:hover {
  color: #810000;
  text-decoration: underline;
}


@media (max-width: 768px) {
  .signup-container {
    padding: 25px !important;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 1.25rem !important;
  }

  .btn-primary {
    font-size: 0.9rem !important;
  }
}