<div class="product-page-container container">
  <div *ngIf="errorMessage" class="alert alert-danger text-center">
    {{ errorMessage }}
  </div>

  <ng-container *ngIf="product; else loading">
    <app-product-detail [product]="product"></app-product-detail>
    <app-product-desc [product]="product"></app-product-desc>
    <app-related-product *ngIf="product._id && product.product_detail" [currentProductId]="product._id || ''"
      [currentProductDescription]="product.product_detail || ''">
    </app-related-product>
  </ng-container>

  <ng-template #loading>
    <p class="text-center">Đang tải thông tin sản phẩm...</p>
  </ng-template>
</div>