<div class="content">
  <p style="color:#8AA3A0 ; margin-top:20px; margin-right: 400px"><b>Trở về</b></p>
  <h2 class="header">REGISTER CONFIRMED</h2>

  <div class="bold">
    <p>OTP verification code sent to you.</p>
    <p>Please check your phone.</p>
  </div>

  <div class="container">
    <div class="container__input">
      <div>
        <div class="container__input--item">
          <div class="input--content">
            <input type="text" name="phonenumber" />
          </div>
          &nbsp; &nbsp;
          <div class="input--content">
            <input type="text" name="phonenumber" />
          </div>
          &nbsp; &nbsp;
          <div class="input--content">
            <input type="text" name="phonenumber" />
          </div>
          &nbsp; &nbsp;
          <div class="input--content">
            <input type="text" name="phonenumber" />
          </div>
          &nbsp; &nbsp;
          <div class="input--content">
            <input type="text" name="phonenumber" />
          </div>
          &nbsp; &nbsp;
          <div class="input--content">
            <input type="text" name="phonenumber" />
          </div>
        </div>
        <!--<div class="error-message">Số điện thoại không hợp lệ!</div>-->
      </div>
    </div>

    <p><b>Not receive code yet?</b></p>
    <div class="content--bottom">
      <a>Send code again</a>
    </div>

    <div>
      <button type="submit" class="login_button">FINISH</button>
    </div>
  </div>
</div>