<html>

<head></head>

<body>
  <div class="imgbg"><img src="assets/images/BG.png"></div>
  <div class="content">
    <div class="imggt"><a href="app-home"><img src="assets/images/GT(1).png"></a></div>
    <form action="app-login" method="get" class="login_form">
      <h2>FORGOT PASSWORD</h2>
      <p class="bold"><label for="phoneNumber" style="cursor: pointer">Enter your phone number to reset your password.</label>
      </p>
      <div class="container">
        <div class="container__input">
          <div>
            <div class="container__input-tel--item">
              <div class="input--content--tel">
                <input required type="tel" placeholder="Phone number" [(ngModel)]="phoneNumber" name="phoneNumber"
                  id="phoneNumber" (blur)="checkPhoneNumber()" />
                <span class="material">*</span>
              </div>
              &nbsp; &nbsp;
              <span><button id="otp-send" (click)="sendCode()" class="confirm_button">SEND VERIFICATION CODE</button></span>
            </div>
            <div *ngIf="!isPhoneNumberValid" class="error-message-a">Phone number is unavailable!</div>
          </div>

          <div class="bold2"><label for="verificationCode" style="cursor: pointer">Enter verification code</label></div>

          <div class="container__input-code--item">
            <div class="input--content--code">
              <input type="text" [(ngModel)]="verificationCode" name="verificationCode" id="verificationCode"
                placeholder="Verification code" (blur)="checkVerificationCode()" />
              <span class="material">*</span>
            </div>
          </div>
          <div *ngIf="!isVerificationCodeValid" class="error-message-b">Verification code is unavailable!</div>
          <div>
            <button type="submit" (click)="onComplete($event)" class="reset_button">DONE</button>
          </div>


          <div class="reset-OTP">
            <span>Didn't receive the code?</span>
            <a id="otp-button" (click)="resend()">Send again</a>
          </div>
        </div>
      </div>
      <div class="content--bottom">
        <a href="app-login">Back</a>
      </div>
    </form>
  </div>
</body>

</html>