<meta charset="utf-8">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />

<div class="main-shopping">
  <p class="shopping-navigate"><a routerLink="/app-home">Home</a> / <a routerLink="/app-cart">Cart</a></p>
  <div class="shopping__cart">
    <div class="shopping__cart-left">
      <div class="shopping__cart-left--header">
        <h3>Cart ({{quantityItem}})</h3>
      </div>
      <div class="content-error" id="displayview" *ngIf="display; else viewItem">
        <img class="img_icon" style="height: 300px;" src="assets/images/emptycart.jpg" alt="">
        <h4 style="color:rgb(116, 116, 116);">Your cart is currently empty</h4>
        <p>
          <button class="orther__product-item--add"
            style="margin-top: 20px; margin-bottom: 20px; width:30%; font-size: 14px; font-weight: 500;background-color:#8AA3A0; border-color:#7cb5ae; cursor: pointer ;"
            id="clicktoreturn" (click)="returnHome()">Back to home</button>
        </p>
      </div>
      <ng-template #viewItem>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr style="margin-bottom: 3px;">
                <th scope="col" class="border-0 align-left">
                </th>
                <th scope="col" class="border-0  align-left">
                  <div>Product</div>
                </th>
                <th scope="col" class="border-0  align-left">
                </th>
                <th scope="col" class="border-0  align-left">
                  <div>Price</div>
                </th>
                <th scope="col" class="border-0  align-left">
                  <div>Quantity</div>
                </th>
                <th scope="col" class="border-0  align-left">
                </th>
              </tr>
            </thead>
            <tbody class="table-body">
              <tr scope="col" *ngFor="let item of cartItems">
                <td class="border-0 align-left">
                  <div class="p-2">
                    <div class="shopping__cart-left--detail-row-check">
                      <input type="checkbox" (click)="calculateTotalPrice(item)">
                    </div>
                  </div>
                </td>
                <td class="border-0 align-left">
                  <div>
                    <div>
                      <img src="{{ item.Image }}" alt="" class="img-fluid rounded shadow-sm"
                        style="object-fit: cover; height: 70px; width: 70px">
                    </div>
                  </div>
                </td>
                <td class="border-0 align-left">{{item.Name}}</td>
                <td class="border-0 align-left">{{item.Price}} $</td>
                <td class="border-0 align-left">
                  <div class="shopping__cart-left--detail-row-quantity">
                    <button id="clickdecrease" (click)="decrease(item)">-</button>
                    <input type="text" [(ngModel)]="item.quantity" (input)="updateQuantity(item)">
                    <button id="clickincrease" (click)="increase(item)">+</button>
                  </div>
                </td>
                <td class="border-0 align-left">
                  <button (click)="removeFromCart(item._id)"
                    class="material-icons-outlined shopping__cart-left--detail-row-delete">
                    delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </div>
    <div class="shopping__cart-right">
      <p class="shopping__cart-right--header">
        <span class="material-icons-outlined">shopping_bag</span>
        <span class="title-bag">Order</span>
      </p>
      <p class="shopping__cart-right--row">
        <span class="shopping__cart-right--row-left">Subtotal</span>
        <span class="shopping__cart-right--row-right">{{ total }} $</span>
      </p>
      <p class="shopping__cart-right--row">
        <span class="shopping__cart-right--row-left">Total price</span>
        <span class="shopping__cart-right--row-right">{{ preprice }} $</span>
      </p>
      <p class="shopping__cart-right--row shopping__cart-right--row--button">
        <button class="shopping__cart-right--row--button" (click)="makePayment()">Place order</button>
      </p>
    </div>
  </div>

  <p class="shopping__orther-product--header">You might also like</p>
  <div class="danhmucproduct">
    <div class="product" *ngFor="let same_product of products.slice(0,5)">
      <div class="product-item">
        <div (click)="viewProductsDetail(same_product)">
          <div class="product-item--img">
            <img src="{{ same_product.Image }}" style="width: 180px;">
          </div>
          <p class="product-item--info">{{ same_product.Name }}</p>
          <p class="product-item--price">{{ same_product.Price }} $</p>
        </div>
        <button class="orther__product-item--add" (click)="addToCart(same_product)">
          Add to cart
        </button>
      </div>
    </div>
  </div>
</div>

<!-- popup -->
<div class="popup" *ngIf="isLogin">
  <div class="popup-container">
    <h2 class="popup-title">Place order</h2>
    <hr>
    <p class="popup-message">Please <span class="main-color">log in</span> to continue order!</p>
    <div class="popup-buttons">
      <button class="popup-button" (click)="onLogin()">Login</button>
      <button class="popup-button" (click)="onBack()">Go back</button>
    </div>
  </div>
</div>